@model Qurbanet.Models.DTOs.Organization.CreateOrganizationDto
@{
    ViewData["Title"] = "Create Organization";
}
<h1>Create Organization</h1>
<form asp-action="Create" method="post">
    <div class="mb-3">
        <label asp-for="UserId" class="form-label"></label>
        <input asp-for="UserId" class="form-control" />
        <span asp-validation-for="UserId" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Name" class="form-label"></label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Year" class="form-label"></label>
        <input asp-for="Year" class="form-control" />
    </div>
    <div class="mb-3 form-check">
        <input asp-for="IsPaid" class="form-check-input" />
        <label asp-for="IsPaid" class="form-check-label"></label>
    </div>
    <div class="mb-3">
        <label asp-for="StartDate" class="form-label"></label>
        <input asp-for="StartDate" class="form-control" type="date" />
    </div>
    <div class="mb-3">
        <label asp-for="EndDate" class="form-label"></label>
        <input asp-for="EndDate" class="form-control" type="date" />
    </div>
    <button type="submit" class="btn btn-primary">Create</button>
</form>
