@{
    ViewData["Title"] = "Access Denied";
}
<div class="text-center mt-5">
    <h1 class="display-4 text-danger">Yetkisiz Erişim</h1>
    <p class="lead">Bu sayfaya erişim izniniz bulunmamaktadır.</p>
    <a class="btn btn-primary" asp-controller="Home" asp-action="Index">Ana Sayfaya Dön</a>
</div>
